.notfound-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notfound-image {
  width: 300px;
}
.notfound-heading {
  color: #183b56;
  font-family: 'Roboto';
  font-size: 30px;
}
.notfound-description {
  color: #c3cad9;
  font-size: 16px;
}
